/*************************************************
    GENERAL STYLES
*************************************************/
@font-face {
    font-family: 'Circular Spotify Text Medium';
    src: url('../font/CircularSpotifyText-Medium.otf');
    src: url('../font/CircularSpotifyText-Bold.otf');
}

@font-face {
    font-family: 'Circular Spotify Text Bold';
    src: url('../font/CircularSpotifyText-Bold.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Spotify Text Medium', sans-serif;
    /* border: .5px solid red; */
}

/************************************************
    SECTION TO BE DELETED
************************************************/


/************************************************
    UTILITIES
************************************************/
.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

button{
}
/************************************************
    SITE SECTIONS
************************************************/
.main-body{
    display: flex;
    height: calc(100vh - 90px);
}

aside{
    width: 230px;
    min-width: 230px;
    max-width: 230px;

    padding: 5px 20px;

    background-color: black;
}

.logo{
    height: 50px;
    width: 100%;
    background-color: grey;
    margin-bottom: 20px;
}

.create-playlist div{
    color: #6f6f6f;
    padding: 10px;
}

.playlist ul li{
    padding-bottom: 10px;
    list-style: none;
    color: #6f6f6f;
}

main{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.upgrade{      
    position: fixed;
    right: 0;
    top: 0;

    width: calc(100% - 230px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
}

.upgrade button{
    color: black;
    background-color: white;
    border: none;
    padding: 7px 15px;
    font-size: 1em;
    cursor: pointer;

    position: absolute;

    right: 50px;
    top: 25px;
}

.main-content{
    /* height: 100%; */

    padding: 110px 20px 20px;

    background-color: #141922;
    color: white;
}

.main-content ul.row{
    justify-content: center;
    gap: 20px;

    margin-bottom: 30px;
}

.row li{
    list-style: none;

    color: #6f6f6f;
}

section.content{
    margin-bottom: 40px;
}

section.content:first-child{
    margin-bottom: 30px;
}

.row.track{
    gap: 15px;
}

.album{
    width: calc(100% / 6 - 15px * 5 / 6);

    align-items: center;
}

.album-cover{
    width: 100%;
    height: 250px;
    background-color: #6f6f6f;
}

.player{
    justify-content: space-between;
    align-items: center;

    height: 90px;

    padding: 0px 10px;

    background-color: #282828;
}

.side-player{
    width: calc(100% / 4);
    height: 100%;

    align-items: center;

    background-color: aqua;
}

.side-player.left{
    justify-content: flex-start;
}

.side-player.right{
    justify-content: flex-end;
}

.center-player{
    width: calc(100% / 4 * 2);
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: gray;
}

/************************************************
    RESPONSIVE SECTION
************************************************/
@media screen and (max-width: 1199px){

}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 575px){

}